.aboutus{
    background-color: rgb(110, 111, 112);
    color: rgb(255, 255, 255);
    font-size:15px;
    width: 750px;
    margin: auto;
    margin-top:50px;
    flex: center;
    text-align: justify;

}

.aboutauthor{
    background-color: rgb(110, 111, 112);
    color: rgb(255, 255, 255);
    font-size:15px;
    width: 750px;
    margin: auto;
    margin-top:0px;
    flex: center;
    text-align: justify

}

#About{
    background-image: url("toolrack.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 500px;
    position: absolute;
    top:100px;
    width: 100vw;
    z-index: -1;
}

@media screen and (max-width: 750px) {
    .aboutauthor{         
        width: 500px;
        
    }
    .aboutus{         
        width: 500px;
    }
    
#About{
     
    top:130px;
  
}
  }

  @media screen and (max-width: 520px) {
    .aboutauthor{         
        width: 400px;
        
    }
    .aboutus{         
        width: 400px;
    }
    
#About{
     
    top:130px;
  
}
  }
  @media screen and (max-width: 380px) {
    .aboutauthor{         
        width: 350px;
    }
    .aboutus{         
        width: 350px;
    }
    #About{
     
        top:200px;
      
    }
  }